@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap');

:root {
    --primary-color:#D6F8D6;
    --secondary-color: #5d737e;
    --accent1-color: #7fc6a4;
    --accent2-color: #FAF33E;

    --heading-font:'Roboto Condensed',serif;
    --paragraph-font:'Oswald',serif;

    --nav-background-color:#D6F8D6;
    --nav-link-color:#5d737e;
    --nav-hover-link-color:#FAF33E;
    --nav-hover-background-color: #D6f8d6;
}

h1,h2, h3, h4, h5, h6 {
    position: relative;
    position:center;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
}
nav a {
    display:block;
    color:var(--nav-link-color);
    text-decoration: none;
    padding:1rem;
}

p {
    padding:15px;
    font: var(--paragraph-font);
    font-size: medium;
    color:black;
}
img {
    padding: 5px;
    display:block;
    max-width:250px;
    height:auto;
}
.hero{
    display:block;
    width:100%;
    height: auto;
    position: relative;
}
article  {
    margin: 10px;
    position:absolute;
    background-color: var(--primary-color);
    border:1px solid black;
}
article img {
    float:right;
    width: 150px;  
}
section{
    position: relative;
    color: black;
    font-size: medium;
}
.social{
    position: center;
}