@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap');

:root {
    --primary-color:#D6F8D6;
    --secondary-color: #5d737e;
    --accent1-color: #7fc6a4;
    --accent2-color: #FAF33E;

    --heading-font:'Roboto Condensed',serif;
    --paragraph-font:'Oswald',serif;

    --nav-background-color:#D6F8D6;
    --nav-link-color:#5d737e;
    --nav-hover-link-color:#FAF33E;
    --nav-hover-background-color: #D6f8d6;
}

body {
    width: 960px;
    margin: 0 auto;
}

/*
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}*/

h1,h2, h3, h4, h5, h6 {
    position: relative; left: 45%;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    border-bottom: darkblue;
}

header {
    display: grid;
    grid-template-columns: 175px auto;
    padding: 2rem;
    grid-gap: 1rem;
    background-color: #7fc6a4;
}

header img {
    width: 150px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
}
nav a {
  
    color:black;
    text-decoration: none;
    padding:1rem;
}
nav a:hover {
    color:#D6F8D6;
}

p {
    padding:15px;
    font: var(--paragraph-font);
    font-size:large;
    color:black;
}
.hero {
    position: relative;

}
.hero img {

    width: 100%;
    height: auto;
}  
.hero article {
    position:absolute;
    background-color: rgb(127, 198, 164, .6);
    border:1px solid black;
    top: 6rem;
    max-width: 80%;
    left: 0;
    right: 0;
    padding: 1rem;
    margin: 0 auto;


}
.hero article img {
    float: right;
    width: 150px;  
}
.hero h1{
    display:flex;
    justify-content: center;
    color:#5d737e;
}
section{
    position: relative;
    color: black;
    font-size: large;
}

section img{
    width: 350px;
    height: auto;

}
div figure img{
    display:flex;  
}
footer .socials img{
    display:flex;
    justify-content: left;
}

