@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap');

:root{
    --primary-color:#D6F8D6;
    --secondary-color: #5d737e;
    --accent1-color: #7fc6a4;
    --accent2-color: #FAF33E;

    --heading-font:'Roboto Condensed',serif;
    --paragraph-font:'Oswald',serif;

    --nav-background-color:#D6F8D6;
    --nav-link-color:#5d737e;
    --nav-hover-link-color:#FAF33E;
    --nav-hover-background-color: #D6f8d6;
}
h1, h2 {
    position:center absolute;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
p{
    padding:15px;
    font-size: medium;
    color:black
}
.hero img{
    display:block;
    width:100%;
    height: auto;
}
article{
    position:absolute;
    background-color: var(--primary-color);
    opacity: var(--accent1-color);
}
article img{
    float:right
}