@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

:root{
    --primary-color:#D6F8D6;
    --secondary-color: #5d737e;
    --accent1-color: #7fc6a4;
    --accent2-color: #FAF33E;

    --heading-font:'Roboto Condensed',serif;
    --paragraph-font:'Oswald',serif;

    --nav-background-color:#D6F8D6;
    --nav-link-color:#5d737e;
    --nav-hover-link-color:#FAF33E;
    --nav-hover-background-color: #D6f8d6;

}

body{
    font-family: var(--Oswald-Roboto Condensed);
    max-width: 960px;
    padding:20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var();
    color: var(--primary-color);
}
header{
    padding: 10px
    background-color= var(--accent1-color)

}
p{
    padding:15px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
}
nav a{
    display:block;
    color:var(--nav-link-color);
    text-decoration: none;
    padding:1rem;
}
nav a:link, nav a:visted {
    color: var(--nav-link-color);
}
nav a:hover {
    color:var(--nav-hover-link-color);
background-color: var(--nav-hover-background-color);
}